*{
    margin:0;
    padding:0;
    list-style-type: style none;
}

body{
    background-color: #090909;
    
}
h1{
    color: #f3f3f3;
    font-size: 30px;
}
h2{
    color: #f3f3f3;
}
h3{
    color: #f3f3f3;
}
span{
    color: #f3f3f3;
}


.header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
    border-radius: 5px;
    

}
.header .topbar{
    width: 100%;
    height: 45px;
    background-color: #292929;

}

.bannertitle{
    width: 30%;
    height: 30%;
}

.header a{  
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 45px;
    text-decoration:none;
    color: #f3f3f3;
    Transition: all 0.4s 0s ease;
}
.header a:hover{
    color: #292929;
    background-color: #f3f3f3;
}

.hottitle{
    padding-top: 80px;
    padding-left: 10%;
}

.hot{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
    align-content: center;
    height: 500px;
}
.hotpic{
    width: 34%;
    display: grid;
    gap: 3px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
    "x x x x"
    "x x x x"
    "x x x x"
    "a b c d";
    overflow: hidden;
}

.sr0{
    overflow: hidden;
    grid-area: x;
    position: relative;
    height: 100%;
}
.sr0 img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

}

.sr1{
    grid-area: a;
    position: relative;
    overflow: hidden;
}
.sr1 img{
    object-fit :cover;
}
.sr2{
    grid-area: b;
    position: relative;
    overflow: hidden;
}
.sr2 img{
    object-fit :cover;
}

.sr3{
    position: relative;
    overflow: hidden;
    grid-area: c;
}
.sr3 img{
    object-fit :cover;
}

.sr4{
    position: relative;
    overflow: hidden;
    grid-area: d;
}
.sr4 img{
    object-fit :cover;
}


.hotNFT{
    width: 66%;
    padding-left: 10px;
}