*{
    margin:0;
    padding:0;
    list-style-type: style none;
}

body{
    background-color: #090909;
    
}
h1{
    color: #f3f3f3;
    font-size: 30px;
}
h2{
    color: #f3f3f3;
}
h3{
    color: #f3f3f3;
}
span{
    color: #f3f3f3;
}


.header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
    border-radius: 5px;
    

}
.header .topbar{
    width: 100%;
    height: 45px;
    background-color: #292929;

}

.bannertitle{
    width: 30%;
    height: 30%;
}

.header a{  
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 45px;
    text-decoration:none;
    color: #f3f3f3;
    Transition: all 0.4s 0s ease;
}
.header a:hover{
    color: #292929;
    background-color: #f3f3f3;
}

.hottitle{
    padding-top: 80px;
    padding-left: 10%;
}

.hot{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
    align-content: center;
    height: 500px;
}
.hotpic{
    padding-right: 10px;
    width: 33%;
    display: grid;
    gap: 3px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
    "x x x x"
    "x x x x"
    "x x x x"
    "a b c d";
    overflow: hidden;
}

.sr0{
    border: 1px #ffffffde solid;
    overflow: hidden;
    grid-area: x;
    justify-self: center;
}
.sr0 img{
    object-fit : cover;
    width: 100%;
    height: 100%;
}

.sr1{
    width: 100%;
    border: 1px #ffffffde solid;
    grid-area: a;
    position: relative;
    overflow: hidden;
    justify-self: center;
    
}
.sr1 img{
    object-fit : cover;
    width: 100%;
    height: 100%;
}
.sr2{
    width: 100%;
    border: 1px #ffffffde solid;
    grid-area: b;
    overflow: hidden;
    justify-self: center;
}
.sr2 img{
    object-fit : cover;
    width: 100%;
    height: 100%;
}

.sr3{
    width: 100%;
    border: 1px #ffffffde solid;
    position: relative;
    overflow: hidden;
    grid-area: c;
    justify-self: center;
}
.sr3 img{
    object-fit : cover;
    width: 100%;
    height: 100%;
    
}
.sr4{
    width: 100%;
    border: 1px #ffffffde solid;
    position: relative;
    overflow: hidden;
    grid-area: d;
    justify-self: center;
}
.sr4 img{
    object-fit : cover;
    width: 100%;
    height: 100%;
}
.hotNFT{
    width: 65%;
}
.nftsearch{
    width: 90%;
    height: 25px;
    border: 1px white solid;
    display: flex;
    align-content: center;
}

.nftsearch h3{
    font-size: small;
}

.nftsearch img{
    width: 20px;
    height: 20px;
    padding: 5px;
}
.newnfttitle h3{
    font-size: 20px;
    padding-top: 10px;
}
.newnftint{
    width: 90%;
    height: 475px;
    display: grid;
    gap: 3px;
    grid-template-rows: 30% 30% 30% ;
    grid-template-columns: 30% 30% 30% ;
    grid-template-areas: 
    "q w e"
    "q w e"
    "q w e";

}

.newnft-1{
    width: 100%;
    background-color: #f3f3f3;
    grid-area: q;
    overflow: hidden;
    justify-self: center;

}
.newnft-2{
    width: 100%;
    background-color: #f3f3f3;
    grid-area: w;
    overflow: hidden;
    justify-self: center;

}

.newnft-3{
    width: 100%;
    background-color: #f3f3f3;
    grid-area: e;
    overflow: hidden;
    justify-self: center;

}

.newnftpic img{
    width: 100%;
    height: 100%;
}